html{
    background-color: floralwhite;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 150px;
    
}


.primeiraLista, .segundaLista{
    background-color: rgb(121, 121, 127);
    font-size: px;
}
 .segundaLista{
    background-color: rgb(208, 219, 219);
} 
.primeiraTabela{
    background-color: rgb(205, 213, 214);
    
}
.segundaTabela{
    background-color: rgb(215, 220, 206);
}
.texto-butao{
background-color: rgb(228, 218, 218);
}
button{
    background-color: slateblue;
    border-radius: 20%;
   color: black;
    font-size: 22px;
    border: 0px 2px;
}
input{
    font-size: 18px;
}
